#Q: Write code to swap two variables values.

x = 10, y = 20
<< your code >>
print(x, y) # it should print 20, 10 or whatever was there in y and x

#Level Up: Do it without using third variable

In [28]:
x, y = 10,20
x, y = y,x
print(x,y)

20 10

In [30]:
x, y = 10,20
temp=x
x=y
y=temp
print(x,y)

20 10

In [31]:
x=10
y=20

z=x
x=y
y=z

In [32]:
x=10
y=20
y=x+y		#y=10+20=30
x=y-x		#x=30-10=20	
y=y-x		#y=30-20=10

In [ ]:
# Can we use strings? 
x = "10"
y = "20"
x = x + "_" + y
y, x = x.split("_")

In [ ]:
x, y = 10, 20

x, y = y, x

print(x, y) # it should print 20, 10 or whatever was there in y and x

In [3]:
x, y = 10, 20

t = x
x = y
y = t

print(x, y) # it should print 20, 10 or whatever was there in y and x

20 10

In [4]:
x, y, z = 10, 20, 30
# move y to x
# move z to y
# move x to z
# x, y, z - 20, 30, 10

t = x
x = y
y = z
z = t

In [ ]:
x=10
y=20
y=x+y #y=10+20=30
x=y-x #x=30-10=20	
y=y-x #y=30-20=10

In [34]:
x = -10
y = 20
y = x + y #y=10+20=30
x = y - x #x=30-10=20	
y = y - x #y=30-20=10
print(x, y)

20 -10

In [35]:
x = -10
y = -20
y = x + y #y=10+20=30
x = y - x #x=30-10=20	
y = y - x #y=30-20=10
print(x, y)

-20 -10

In [ ]:
# base 2
0 0
1 1
2 10
3 11
4 100
5 101
6 110
7 111
8 1000

In [4]:
bin(8)

'0b1000'

In [5]:
bin(5)

'0b101'

In [6]:
x = 0b101
print(x)

5

In [12]:
ord('A'),

65

In [13]:
chr(65)

'A'

In [18]:
chr(900)

'΄'

In [31]:
l='ग1ए==क@ऊंabc123ηθabcशि'
for i in l:
    print(i, ord(i))

ग 2327
1 49
ए 2319
= 61
= 61
क 2325
@ 64
ऊ 2314
ं 2306
a 97
b 98
c 99
1 49
2 50
3 51
η 951
θ 952
a 97
b 98
c 99
श 2358
ि 2367

In [32]:
chr(2367)

'ि'

In [11]:
bin(ord('A')), bin(ord('a')), bin(ord('0'))

('0b1000001', '0b1100001', '0b110000')

```
  0b101
+ 0b111
-------
  1100
```

In [34]:
bin(0b101 + 0b111)

'0b1100'

In [35]:
bin(1.5)

TypeError: 'float' object cannot be interpreted as an integer

In [36]:
bin(0b1000 * 2)

'0b10000'

In [38]:
bin(0b1000 // 2)

'0b100'

In [40]:
x = 8
x = x << 1
print(x)

16

In [41]:
x = 8
x = x >> 1
print(x)

4

In [42]:
x = 5
y = 5 << 3
print(y)

40

In [43]:
x = 5
y = 5 >> 1
print(y)

2

In [46]:
x = 0b100
y = 0b101
z = x | y
print(bin(z))

0b101

In [47]:
x = 0b100
y = 0b101
z = x & y
print(bin(z))

0b100

In [52]:
x = 13
y = 11
z = x & y
print(z)
print(f"\t{bin(x)}\n\t{bin(y)}\n\t{bin(z)}")

9
	0b1101
	0b1011
	0b1001

In [56]:
# XOY

In [55]:
for x in range(2):
    for y in range(2):
        print(bin(x), bin(y), "^", bin(x^y))

0b0 0b0 ^ 0b0
0b0 0b1 ^ 0b1
0b1 0b0 ^ 0b1
0b1 0b1 ^ 0b0

In [57]:
x = 15
y = 17

y = x ^ y
x = y ^ x
y = y ^ x
print(x, y)

17 15

In [65]:
x = 15
y = 17
z = x^y
print(x, bin(x))
print(y, bin(y))
print(z, bin(z))

15 0b1111
17 0b10001
30 0b11110

In [63]:
12 ^ 7

11

In [64]:
7 ^ 11

12

# XOR

- Swapping values
- Light switch at home
- Backup
- Is used to test the ml model ability to learn non-linear relationship

In [73]:
x = 11
y = 20
z = 30
u = x ^ y ^ z

In [74]:
print(xy, u)

31 1

In [79]:
bin(5), bin(6), bin(7), bin(5^6^7)

('0b101', '0b110', '0b111', '0b100')

In [80]:
5^6^4

7

In [75]:
5 ^ 6, 6 ^ 5

(3, 3)

In [76]:
5^6^7, 5^7^6

(4, 4)

In [78]:
4^6^7, 5^4^6

(5, 7)

In [2]:
x = 2147483647
print(x + 10)

2147483657

In [38]:
import sys

In [43]:
sys.max_int

AttributeError: module 'sys' has no attribute 'max_int'

In [37]:
x = sys.maxsize
y = sys.maxsize
y = x + y #y=10+20=30
x = y - x #x=30-10=20	
y = y - x #y=30-20=10
print(x, y)

9223372036854775807 9223372036854775806

In [5]:
x, y, z

(20, 30, 10)

Question:
    

Basic: 
    
    arr = [10, 20, 30]
    
    + Shift all values circularly to left by one place
    + The array could have any number of elements
    
Examples:
    - [10, 20, 30] should become [20, 30, 10]
    - [10, 20, 30, 40] -> [20, 30, 40, 10]
    - [10] -> [10]
    - [10, 20] -> [20, 10]

**Medium:**
    without using extra array but you can use extra variable

**Hard:**
    shift the arr by k places to left circularly without using extra array but you can use extra variable

In [16]:
arr = [10, 20, 30, 40, 50]

temporary = arr[0]

for i in range(len(arr) - 1):
      arr[i] = arr[i +1]

arr[-1] = temporary

print(arr)

[20, 30, 40, 50, 10]

In [10]:
arr = [10, 20, 30]
arr.append(arr[0])
print(arr)
arr[0]=arr[1]
print(arr)
arr[1]=arr[2]
print(arr)
arr[2]=arr[3]
print(arr)
arr.pop()

[10, 20, 30, 10]
[20, 20, 30, 10]
[20, 30, 30, 10]
[20, 30, 10, 10]

10

In [8]:
arr

[20, 30, 10]

In [17]:
array = [0, 1, 2, 3, 4]

array = array[1:] + [array[0]]

print("circular array :", array)

circular array : [1, 2, 3, 4, 0]

In [18]:
array = [0, 1, 2, 3, 4]

array1 = array[1:] + [array[0]]

print("circular array :", array1)

circular array : [1, 2, 3, 4, 0]

In [24]:
array = "01234"

array = array[1:] + array[0]

print("circular array :", array)

circular array : 12340

In [26]:
x = [1,2]
y = [3,4]

# t = x
# x = y
# y = t

#x, y = y, x

print(x, y)

[1, 2] [3, 4]

In [19]:
array1[0] = 10

In [20]:
array1

[10, 2, 3, 4, 0]

In [21]:
array

[0, 1, 2, 3, 4]

In [22]:
array = [0, 1, 2, 3, 4]
array1 = array
array[1] = 100
print(array1, array)

[0, 100, 2, 3, 4] [0, 100, 2, 3, 4]

In [ ]:
def shiftArr(shifter):
    arr=[10,20,30,40,50, 60, 70, 80, 90,100]
    arr=arr[shifter:]+arr[:shifter]
    print (arr

In [ ]:
def circular_shift(x):
    firstElement = x[0]
    for i in range(len(x)-1):
        x[i] = x[i+1]
        x[-1] = firstElement
    print(f"Output : {x}")

In [ ]:
arr = [10, 20, 30]
temp = arr[0]

for i in range(len(arr) - 1):
    arr[i] = arr[i + 1]
arr[-1] = temp  

print(arr)

In [ ]:
def left_rot_tuple(t, k):
    return t[k:] + t[:k]
input_value = (0, 1,2, 3, 4)  
k = 2
result = left_rot_tuple(input_value, k)
print(result)

## Question1:

    * Given three lists of numbers, return the list of their XORs
    * all three lists have same size

    def xors(a1, a2, a3):
        return [...]

Example: 
    Input: xors([1], [2], [3]):
    Output: [0]
    
    Input: xors([1, 2], [2, 3], [3, 4]):
    Output: [0, 5]

## Question 2:

You have a list of numbers, you have to reverse it. You can not use the inbuilt function or slicing ([::-1]

Level Up: Without using extra arr or you can say do it in place.

    def reverse(arr):
        return []

Example:
    
    Input: [1,2,3,4]
    Ouput: [4,3, 2, 1]

## Question3
    

Basic: 
    
    arr = [10, 20, 30]
    
    + Shift all values circularly to left by one place
    + The array could have any number of elements
    
Examples:
    - [10, 20, 30] should become [20, 30, 10]
    - [10, 20, 30, 40] -> [20, 30, 40, 10]
    - [10] -> [10]
    - [10, 20] -> [20, 10]

**Level Up:**
    without using extra array but you can use extra variable

**Level Up:**
    shift the arr by k places to left circularly without using extra array but you can use extra variable
    Hint: Can you use the reversing logic to do the same