In [8]:
symbols = "0123456789AB"
symbols[0]

'0'

In [2]:
symbols[9]

'9'

In [3]:
symbols[10]

'A'

In [4]:
symbols[11]

'B'

In [7]:
symbolsarr = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C"]
symbolsarr[11]

'B'

In [9]:
[1] + [0]

[1, 0]

In [62]:
SYMS = "0123456789AB"
def convert10to12(num, tab=""):
    print(tab + f"Converting: {num}")
    final_result = None
    if num < 12:
        final_result = symbols[num]
    else:
        remainder = num % 12
        new_num = num // 12
        print(tab + f"Remainder: {remainder}")
        result = convert10to12(new_num, tab + "\t")
        print(tab + f"Remainder: {remainder}")
        final_result = result + symbols[remainder]
    print(tab + f"Final Result: {final_result}")
    return final_result

In [63]:
convert10to12(145)

Converting: 145
Remainder: 1
	Converting: 12
	Remainder: 0
		Converting: 1
		Final Result: 1
	Remainder: 0
	Final Result: 10
Remainder: 1
Final Result: 101

'101'

In [66]:
convert10to12(145678)

Converting: 145678
Remainder: 10
	Converting: 12139
	Remainder: 7
		Converting: 1011
		Remainder: 3
			Converting: 84
			Remainder: 0
				Converting: 7
				Final Result: 7
			Remainder: 0
			Final Result: 70
		Remainder: 3
		Final Result: 703
	Remainder: 7
	Final Result: 7037
Remainder: 10
Final Result: 7037A

'7037A'

In [64]:
remainder = 450
convert10to12(145)

Converting: 145
Remainder: 1
	Converting: 12
	Remainder: 0
		Converting: 1
		Final Result: 1
	Remainder: 0
	Final Result: 10
Remainder: 1
Final Result: 101

'101'

In [69]:
print(SYMS)
len(SYMS)

0123456789AB

12

In [83]:
SYMS = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@_"
def convert10tobase(num, base):
    print(f"Converting: {num}")
    if base > len(SYMS) or base < 2:
        print("Invalid base")
        return None
    if num < base:
        return SYMS[num]
    else:
        remainder = num % base
        new_num = num // base
        result = convert10tobase(new_num, base)
        return result + SYMS[remainder]

In [88]:
convert10tobase(10, 2)

Converting: 10
Converting: 5
Converting: 2
Converting: 1

'1010'

In [10]:
"1" + "0"

'10'

In [12]:
num = 13
remainder = num % 12
remainder

1

In [13]:
new_num = num // 12

In [14]:
new_num

1

In [16]:
symbols[new_num] + symbols[remainder]

'11'

In [22]:
num = 1345

In [23]:
num%12

1

In [ ]:
1344 + 1

In [24]:
num//12

112

In [25]:
112*12 + 1

1345

In [26]:
112%12

4

In [27]:
112//12

9

In [29]:
(9*12 + 4)*12 + 1
9*12*12 + 4*12 + 1

1345

In [30]:
num = 1345

In [31]:
num % 12

1

In [32]:
# 1345 = A*12*12 + B *12 + C

48

In [33]:
C = 1345 % 12

In [34]:
C

1

In [35]:
1345 - 1

1344

In [36]:
1344/12

112.0

In [37]:
#112 = 12*A + B
112 % 12

4

In [38]:
# B = 4

In [39]:
112 - 4

108

In [41]:
108/12

9.0

In [42]:
A = 9
B = 4
C = 1
A*12*12 + B * 12 + C

1345

In [ ]:
# Variables
# functions
# while condition:
    ....
# strings

In [89]:
# Tuples

In [90]:
(x, y, z) = (1,2,3)

In [91]:
point = (1,2)

In [93]:
point[0]

1

In [94]:
point[1]

2

In [95]:
point[0] = 1

TypeError: 'tuple' object does not support item assignment

In [98]:
import math

In [101]:
def find_distance(point1, point2):
    x1, y1 = point1
    x2, y2 = point2
    base = x2 - x1
    p = y2 - y1
    return math.sqrt(base*base + p * p)

In [102]:
find_distance((1,2), (3,4))

2.8284271247461903

In [103]:
rect1 = ((1,2), (3,4))
rect2 = ((3,4), (5,6))

In [105]:
def is_overlapping_rect(rect1, rect2):
    p11, p12 = rect1
    p21, p22 = rect2
    return True

In [106]:
is_overlapping_rect(rect1, rect2)

True

In [110]:
# Arrays
a = [1,2,3,4]

In [116]:
a[1:3]

[2, 3]

In [125]:
for e in a:
    print(e)

1
2
3
4

In [128]:
for i in range(len(a)):
    print(i, a[i])

0 1
1 2
2 3
3 4

In [117]:
b = [[3,4,5], [5,6,7]]

In [134]:
type(b[0][0])

int

In [122]:
b[0][2]

5

In [131]:
for row in b:
    for e in row:
        print(f" {e} ")
    print("----")

 3
 4
 5
----
 5
 6
 7
----

In [135]:
items = [12,True, "Sandeep", (1,2,5), [3,4,5]]

12 <class 'int'>
True <class 'bool'>
Sandeep <class 'str'>
(1, 2, 5) <class 'tuple'>
[3, 4, 5] <class 'list'>

In [138]:
def my_print(items):
    for item in items:
        print(item, type(item))
    items.append(123)

In [141]:
items = (12,True, "Sandeep", (1,2,5), [3,4,5])
my_print(items)

12 <class 'int'>
True <class 'bool'>
Sandeep <class 'str'>
(1, 2, 5) <class 'tuple'>
[3, 4, 5] <class 'list'>

AttributeError: 'tuple' object has no attribute 'append'

In [140]:
items

[12, True, 'Sandeep', (1, 2, 5), [3, 4, 5], 123]

In [144]:
x = tuple([12,2])

In [150]:
result = []
for i in range(4):
    result.append((i, i*i, i*i*i))
result

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27)]

In [151]:
mytupl = tuple(result)

In [152]:
mytupl

((0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27))

In [153]:
# A function can be passed as argument

In [3]:
def reverse_process(arr):
    l = len(arr) - 1
    while l >= 0:
        print(arr[l])
        l -= 1

In [4]:
reverse_process([3,4,5])

5
4
3

In [ ]:
arr = [3,4,5,6,7,8,9,10,11]
arr[::2]

In [13]:
def reverse_process(op, arr):
    result = []
    l = len(arr) - 1
    while l >= 0:
        r = op(arr[l])
        result.append(r)
        l -= 1
    return result

In [14]:
def myop(x):
    return -x

In [18]:
myop(-5)

5

In [19]:
myop1 = myop

In [20]:
type(myop1)

function

In [21]:
myop1(10)

-10

In [15]:
reverse_process(myop, [1,2,3])

[-3, -2, -1]

In [22]:
import math

In [23]:
arr_functions = [math.sqrt, abs, math.sin, math.cos]

In [25]:
for myf in arr_functions:
    #print(myf)
    print(myf(10))

3.1622776601683795
10
-0.5440211108893698
-0.8390715290764524

In [27]:
#Q:
# # Designing thermometer
# when current 1, the teperature was 30
# when currrent 2, the temperature was 35
# when current will be 3, what would be the temperature 40
# current = 4, temp = 45
# current 2.1, temp = 35.5

In [ ]:
calibration_data = [[1,30], [2,35]]
def tell_temp(calibration_data, current):
    return temperature

In [28]:
def my_fun(x):
    return x*x

In [29]:
y = my_fun(10)

In [33]:
y1 = my_fun(10.00000001)

In [34]:
(y1 - y)/(.00000001)

20.00000165480742

In [30]:
Q:
# I want to measure the rate of change of output with respect to input.
# Slight increase input and observe how much output changes
# find out the ratio of change of output wrt input

In [32]:
# def diff(f, x):
    # rate of change of output wrt input

In [ ]:
# test this function on your various functions such as cube, 2*x**3 + 5*x

Q: Finish as much as you can in the LMS (MY Course)

Q: Finish the previous exercises