In [ ]:
# Data -> SQlAlchemy -> dataframe -> array of tuples

table1 = [
    (1, "Sandeep"),
    (2, "Giri"),
    (4, "Ajay"),
    (5, "Sumit"),
    (6, "Roy")
]

table2 = [
    (1, "Sandeep"),
    (2, "giri"),
    (3, "Avinash"),
    (4, "Ajay"),
]

# Strategy 1
#For every record in table1 try finding a record in table2 - O(n**2)

# Strategy 2
#Assumption - We have an auto incrementing Id and the data is sorted by id

print(f"Comparing: \n{table1}\n{table2}")


i = 0
j = 0
while i < len(table1) and j < len(table2):
    if table1[i][0] == table2[j][0]:
        if table1[i][1] == table2[j][1]: # Check for more columns.
            print(i, j, "Data Identical")
        else:
            print(i, "Data mismatch")
        i += 1
        j += 1
    elif table1[i][0] < table2[j][0]:
        print("Row Missing in Right: ", table1[i][0])
        i += 1
    else:
        print("Row Missing in Left: ", table2[j][0])
        j += 1

label = ''
if i < len(table1):
    li = i
    rem = table1
    label = 'Left'
else:
    li = j
    rem = table2
    label = 'Right'

while li < len(rem):
    print('Extra data in ', label, rem[li][1])
    li += 1

Comparing:
[(1, 'Sandeep'), (2, 'Giri'), (4, 'Ajay'), (5, 'Sumit'), (6, 'Roy')]
[(1, 'Sandeep'), (2, 'giri'), (3, 'Avinash'), (4, 'Ajay')]
0 0 Data Identical
1 Data mismatch
Row Missing in Left:  3
2 3 Data Identical
Extra data in  Left Sumit
Extra data in  Left Roy

Order (m + n) ~ Order (n)
n log(n) + Order(n) -> n log n

In [2]:
(1, 2, "Sandeep") == (1, 2, "Sandeep")

True

In [21]:
data = ['0 0 Data Identical',
'1 Data mismatch',
'Row Missing in Left:  3',
'2 3 Data Identical',
'Extra data in  Left Sumit',
'Extra data in  Left Roy',
]
import json

with open("data.txt", "w+") as f:
    datas = json.dumps(data)
    f.write(str(datas))

with open("data.txt") as f:
    data1 = json.loads(f.read())

In [24]:
data1

['0 0 Data Identical',
 '1 Data mismatch',
 'Row Missing in Left:  3',
 '2 3 Data Identical',
 'Extra data in  Left Sumit',
 'Extra data in  Left Roy']

In [20]:
!cat data.txt

["0 0 Data Identical", "1 Data mismatch", "Row Missing in Left:  3", "2 3 Data Identical", "Extra data in  Left Sumit", "Extra data in  Left Roy"]

In [45]:
data = {
    "Identical": [ (0, 0), (2, 3)],
    "Missmatch": [1],
    "Missing_left": [3],
    "Missing_right": [],
    "Extra": ("left", ["Sumit", "Roy"]),
    "Repeated":{
        "Identical": [ (0, 0), (2, 3)],
        "Missmatch": [1],
        "Missing_left": [3],
        "Missing_right": [],
        "Extra": ("left", ["Sumit", "Roy"])
    }
}

import json # XML, Protocol buffer, ORC, PArquet, AVRO, HD..

with open("data.json", "w+") as f:
    datas = json.dumps(data)
    f.write(str(datas))

with open("data.json") as f:
    data1 = json.loads(f.read())

In [26]:
!cat data.json

{"Identical": [[0, 0], [2, 3]], "Missmatch": [1], "Missing_left": [3], "Missing_right": [], "Extra": ["left", ["Sumit", "Roy"]]}

In [44]:
import pickle

data = {
    "Identical": [ (0, 0), (2, 3)],
    "Missmatch": [1],
    "Missing_left": [3],
    "Missing_right": [],
    "Extra": ("left", ["Sumit", "Roy"]),
    "Repeated":{
        "Identical": [ (0, 0), (2, 3)],
        "Missmatch": [1],
        "Missing_left": [3],
        "Missing_right": [],
        "Extra": ("left", ["Sumit", "Roy"])
    }
}

with open("data.pkl", "wb") as f:
    pickle.dump(data, f)

with open("data.pkl", 'rb') as f:
    pdata = pickle.load(f)

In [31]:
pdata == data

True

In [32]:
pdata

{'Identical': [(0, 0), (2, 3)],
 'Missmatch': [1],
 'Missing_left': [3],
 'Missing_right': [],
 'Extra': ('left', ['Sumit', 'Roy'])}

In [33]:
data

{'Identical': [(0, 0), (2, 3)],
 'Missmatch': [1],
 'Missing_left': [3],
 'Missing_right': [],
 'Extra': ('left', ['Sumit', 'Roy'])}

In [48]:
!ls -l

total 48
-rw-r--r--  1 sandeepgiri  staff    270 May 17 11:24 data.json
-rw-r--r--  1 sandeepgiri  staff    191 May 17 11:24 data.pkl
-rw-r--r--  1 sandeepgiri  staff    146 May 17 11:03 data.txt
-rw-r--r--  1 sandeepgiri  staff  10303 May 17 11:24 problem.ipynb

In [36]:
!file data.pkl

data.pkl: data

In [37]:
!strings data.pkl

Identical
Missmatch
Missing_left
Missing_right
Extra
left
Sumit

In [38]:
!ls -la

total 40
drwxr-xr-x   6 sandeepgiri  staff   192 May 17 11:18 .
drwxr-xr-x  37 sandeepgiri  staff  1184 May 17 10:21 ..
-rw-r--r--   1 sandeepgiri  staff   128 May 17 11:13 data.json
-rw-r--r--   1 sandeepgiri  staff   134 May 17 11:19 data.pkl
-rw-r--r--   1 sandeepgiri  staff   146 May 17 11:03 data.txt
-rw-r--r--   1 sandeepgiri  staff  8158 May 17 11:18 problem.ipynb

In [47]:
# Question: Save and Load the decision tree to/from a file.

In [50]:
set([1,2,3, 1, 2]) - set([3,4])

{1, 2}

In [52]:
set("Question: Save and Load the decision tree to/from a file.")

{' ',
 '.',
 '/',
 ':',
 'L',
 'Q',
 'S',
 'a',
 'c',
 'd',
 'e',
 'f',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'r',
 's',
 't',
 'u',
 'v'}

In [ ]:
# SQL QUery to LEFT & RIGHT join. 
write your python code to present those values and compare for the values which are matching.

In [ ]:
#